@page "/Administration/Words";
@page "/Administration/Words/{PageNumber:int}";
@page "/Administration/Words/{WordID}";
@page "/Administration/Words/{PageNumber:int}/{WordID}";
@inject Services.Database db;
@inject NavigationManager nm;
@inject IJSRuntime js;
@using System.Data.SqlClient;
@using System.Text.RegularExpressions;

@if (WordID != null)
{
    <Popup>
        @{ InitStat = InitEditWord(); }
        @if (InitStat == 0)
        {
            <PageTitle Icon="" Title='@("Word: " + InitWordValue)' />
            <hr />
            <CAreYouSure ButtonText="Delete" ButtonIcon="" OnYesClick="() => DeleteWord()" />
        }
        @if (InitStat == 1)
        {
            <PageTitle Icon="" Title="Add a new word" />
        }
        @if (InitStat == 2)
        {
            <PageTitle Icon="" Title="Word not found" />
            <hr />
            <a href="@("/Administration/Words/" + PageNumber)">
                <CButton>Back</CButton>
            </a>
        }
        @if (InitStat == 0 || InitStat == 1)
        {
            <hr />
            <CText Icon="" Label="Word" Value="@InitWordValue" @ref="WordValue" />
            <CNumber Icon="" Label="Score" Value="@InitScoreValue" @ref="ScoreValue" />
        }
        @if (InitStat == 0)
        {
            <CText Icon="" Enabled="false" Label="Difficulty" Value="@InitDifficultyValue" />
            <hr />
            <SavAppCan OnApplyClick="() => SetWordParameters()"
                       OnSaveClick="() => {
                    SetWordParameters();
                    NavBackToList();
                }"
                       OnCancelClick="() => NavBackToList()" />
        }
        @if (InitStat == 1)
        {
            <hr />
            <CButton OnClick="() => AddWord()" Icon="">Add</CButton>
            <a href="@("/Administration/Words/" + PageNumber)">
                <CButton Icon="">Done</CButton>
            </a>
        }
    </Popup>
}

@if (Error != "")
{
    <Popup>
        <div style="color:#ff6161;">@Error</div>
        <hr />
        <CButton OnClick='() => { Error = ""; }'>Dismiss</CButton>
    </Popup>
}

<PageTitle Title="Word List" />
<hr />
<a href="/Administration/Words/@PageNumber/Add">
    <CButton Emphasis="Emphasis.Medium" Icon="">New Word</CButton>
</a>
<hr />
<div class="table-container">
    <TableEditor PageNumber="PageNumber"
                 SQLCon="db.Connection"
                 PagePath="/Administration/Words"
                 PathIncludePageNumber="true"
                 TableName="[Words.Difficulty]"
                 VisibleRows='new List<string>() { "WordID", "Word", "Difficulty", "Score" }'
                 VisibleRowsTitles='new List<string>() { "WordID", "Word", "Difficulty", "Score" }' />
</div>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string WordID { get; set; }
    private CText WordValue;
    private CNumber ScoreValue;
    private string InitWordValue = "";
    private string InitScoreValue = "";
    private string InitDifficultyValue = "";
    private int InitStat = 0;
    private string Error = "";
    private int InitEditWord()
    {
        InitDifficultyValue = InitWordValue = InitScoreValue = "";
        if (!Guid.TryParse(WordID, out Guid id)) return 1;
        SqlCommand cmd = db.Connection.CreateCommand();
        cmd.CommandText = "SELECT TOP(1) Word, Score, Difficulty FROM [Words.Difficulty] WHERE WordID = '" + id.ToString() + "'";
        SqlDataReader rdr = cmd.ExecuteReader();
        if (!rdr.HasRows)
        {
            rdr.Close();
            return 2;
        }
        try
        {
            rdr.Read();
            InitWordValue = rdr.GetString(0);
            InitScoreValue = rdr.GetInt32(1).ToString();
            if (rdr.IsDBNull(2))
            {
                InitDifficultyValue = "";
            }
            else
            {
                InitDifficultyValue = rdr.GetString(2);
            }
            rdr.Close();
            return 0;
        }
        catch (Exception)
        {
            rdr.Close();
            return 0;
        }
    }
    private void SetWordParameters()
    {
        try
        {
            if (!Guid.TryParse(WordID, out Guid id)) return;
            string word = FilterWord(WordValue.Value);
            if (word == "") return;
            SqlCommand cmd = db.Connection.CreateCommand();
            cmd.CommandText = "UPDATE Words SET Word = @WORD, Score = " + ScoreValue.Value + " WHERE WordID = '" + id.ToString() + "'";
            cmd.Parameters.AddWithValue("@WORD", word);
            cmd.ExecuteNonQuery();
            return;
        }
        catch (SqlException e)
        {
            Error = "Unknown error setting this word.";
            if (e.Number == 2627) Error = "This word already exists.";
            return;
        }
        catch (Exception)
        {
            Error = "Unknown error setting this word.";
            return;
        }
    }
    private void DeleteWord()
    {
        if (!Guid.TryParse(WordID, out Guid id)) return;
        SqlCommand cmd = db.Connection.CreateCommand();
        cmd.CommandText = "DELETE FROM Words WHERE WordID = '" + id.ToString() + "'";
        cmd.ExecuteNonQuery();
        NavBackToList();
    }
    private void AddWord()
    {
        string word = FilterWord(WordValue.Value);
        if (word == "") return;
        try
        {
            SqlCommand cmd = db.Connection.CreateCommand();
            cmd.CommandText = "INSERT INTO Words (Word, Score) VALUES(@WORD, @SCORE)";
            cmd.Parameters.AddWithValue("@WORD", word);
            cmd.Parameters.AddWithValue("@SCORE", ScoreValue.Value);
            cmd.ExecuteNonQuery();
            WordValue.SetValue("");
            ScoreValue.SetValue("");
        }
        catch (SqlException e)
        {
            Error = "Unknown error adding this word.";
            if (e.Number == 2627) Error = "This word already exists.";
            return;
        }
        catch (Exception)
        {
            Error = "Unknown error adding this word.";
            return;
        }
    }
    private string FilterWord(string Word)
    {
        return Regex.Replace(Word.ToLower(), "[^a-z]", "");
    }
    private void NavBackToList()
    {
        nm.NavigateTo("/Administration/Words/" + PageNumber);
    }
}