@using System.Data.SqlClient;

<div class="table-body">
    <div class="toolbar">
        <span>
            <span>Start: </span>
            <input min="0" @onchange="@((e) => {
                if (!uint.TryParse(e.Value.ToString(), out uint val)) val = 0;
                ResultOffset = val;
                OnFilterChange();
            })" type="number" />
        </span>
    </div>
    <table>
        <tr>
            @{int i = 0;}
            @foreach (string title in VisibleRowsTitles)
            {
                int index = i;
                if (i++ == 0) continue;
                <th>
                    <div>@title</div>
                    <div class="filter">
                        <input @onchange="@((e) => {
                            RowFilters[index] = e.Value.ToString();
                            OnFilterChange();
                        })" type="text" />
                        <div class="icon"></div>
                    </div>
                </th>
            }
            <th></th>
        </tr>
        @foreach (List<string> row in TableData)
        {
            <tr>
                @{i = 0;}
                @foreach (string field in row)
                {
                    if (i++ == 0) continue;
                    <td>@field</td>
                }
                <td class="row-link"><a href="/Administration/Words/Word/@row[0]"></a></td>
            </tr>
        }
    </table>
</div>

@code {
    public SqlConnection SQLCon;
    public string TableName;
    public List<string> VisibleRows = new List<string>();
    public List<string> VisibleRowsTitles = new List<string>();
    public uint ResultOffset = 0;
    public uint MaxResults = 100;
    private string[] RowFilters;
    private List<List<string>> TableData = new List<List<string>>();
    public async void TableInit()
    {
        RowFilters = new string[VisibleRows.Count];
        await ReQueryTable();
    }
    private async Task ReQueryTable()
    {
        string SVRows = "";
        TableData = new List<List<string>>();
        foreach (string vRow in VisibleRows)
        {
            SVRows += vRow + ",";
        }
        SVRows = SVRows.Substring(0, SVRows.Length - 1);
        SqlCommand cmd = new SqlCommand("SELECT " + SVRows + " FROM " + TableName, SQLCon);
        int filterIndex = 0;
        int validFilters = 0;
        foreach (string filter in RowFilters)
        {
            int i = filterIndex;
            if (filterIndex++ == 0) continue;
            if (RowFilters[i] != null && RowFilters[i] != "")
            {
                cmd.Parameters.AddWithValue("@FilterString" + i, '%' + filter + '%');
                if (validFilters++ == 0)
                {
                    cmd.CommandText += " WHERE ";
                }
                else
                {
                    cmd.CommandText += " AND ";
                }
                cmd.CommandText += VisibleRows[i] + " LIKE @FilterString" + i;
            }
        }
        cmd.CommandText += " ORDER BY " + VisibleRows[1];
        cmd.CommandText += " OFFSET " + ResultOffset + " ROWS FETCH NEXT " + MaxResults + " ROWS ONLY";
        SqlDataReader rdr = await cmd.ExecuteReaderAsync();
        while (await rdr.ReadAsync())
        {
            List<string> fields = new List<string>();
            for (int i = 0; rdr.FieldCount > i; i++)
            {
                fields.Add(rdr.GetValue(i).ToString());
            }
            TableData.Add(fields);
        }
        await rdr.CloseAsync();
        StateHasChanged();
    }
    private async void OnFilterChange()
    {
        await ReQueryTable();
    }
}