@using System.Data.SqlClient;

<div class="page">
    <div class="top-bar">
        <a href="/Administration">
            <CButton Emphasis="Emphasis.Medium" Icon="">Back</CButton>
        </a>
        <BPageTitle Icon="@PageTitleIcon" Title="@PageTitle" />
        <a href="@PagePath/@PageNumber/Add">
            <CButton Emphasis="Emphasis.Medium" Icon="">Add</CButton>
        </a>
    </div>
    <TableEditor PageNumber="PageNumber"
                 DB="DB"
                 PagePath="@PagePath"
                 PathIncludePageNumber="true"
                 TableName="@TableName"
                 VisibleRows='VisibleRows'
                 VisibleRowsTitles='VisibleRowsTitles'
                 PhotoEndpoints="@PhotoEndpoints"
                 PhotoColumns="@PhotoColumns"
                 InitialSortColumnAndDirection="@InitialSortColumnAndDirection" />
</div>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string PageTitle { get; set; }
    [Parameter]
    public string PageTitleIcon { get; set; }
    [Parameter]
    public List<string> PhotoEndpoints { get; set; }
    [Parameter]
    public List<int> PhotoColumns { get; set; }
    [Parameter]
    public Database DB { get; set; }
    [Parameter]
    public string PagePath { get; set; }
    [Parameter]
    public string TableName { get; set; }
    [Parameter]
    public List<string> VisibleRows { get; set; }
    [Parameter]
    public List<string> VisibleRowsTitles { get; set; }
    [Parameter]
    public int InitialSortColumnAndDirection { get; set; }
}
